processing/src/data/music/**
processing/.idea/**
processing/out/production/processing/data/music/01 Shape of You - Ed Sheeran .mp3
processing/out/production/processing/data/music/02 Ed Sheeran - How Would You Feel (Paean).mp3
processing/out/production/processing/data/music/03 Rag n Bone Man - Human.mp3
processing/out/production/processing/data/music/04 Ed Sheeran - Castle On The Hill.mp3
processing/out/production/processing/data/music/05 Katy Perry - Chained To The Rhythm (Official) ft. Skip Marley.mp3
processing/out/production/processing/data/music/06 Jax Jones - You Dont Know Me ft. RAYE.mp3
processing/out/production/processing/data/music/07 Zayn and Taylor Swift - Fifty Shades Darker.mp3
processing/out/production/processing/data/music/08 The Chainsmokers - Paris.mp3
processing/out/production/processing/data/music/09 Kygo Ft. Selena Gomez - It Aint Me .mp3
processing/out/production/processing/data/music/10 Little Mix  - Touch.mp3
processing/out/production/processing/data/music/11 Dua Lipa - Be The One.mp3
processing/out/production/processing/data/music/12 Starley - Call On Me.mp3
processing/out/production/processing/data/music/13 Take That - Giants.mp3
processing/out/production/processing/data/music/14 JP Cooper - September Song.mp3
processing/out/production/processing/data/music/15 Clean Bandit - Rockabye ft. Sean Paul & Anne-Marie.mp3
processing/out/production/processing/data/music/16 Martin Garrix & Dua Lipa - Scared To Be Lonely.mp3
processing/out/production/processing/data/music/17 Stormzy - Big For Your Boots.mp3
processing/out/production/processing/data/music/18 Sean Paul - No Lie ft. Dua Lipa.mp3
processing/out/production/processing/data/music/19 The Weeknd Ft.  Daft Punk - I Feel It Coming.mp3
processing/out/production/processing/data/music/20 Rag n Bone Man - Skin.mp3
processing/out/production/processing/data/music/21 Anne-Marie - Ciao Adios.mp3
processing/out/production/processing/data/music/22 James Arthur - Say You Wont Let Go.mp3
processing/out/production/processing/data/music/23 Neiked - Sexual.mp3
processing/out/production/processing/data/music/24 Zara Larsson - I Would Like.mp3
processing/out/production/processing/data/music/25 Major Lazer - Run Up (feat. PARTYNEXTDOOR & Nicki Minaj).mp3
processing/out/production/processing/data/music/26 Tinie Tempah - Text From Your Ex ft. Tinashe.mp3
processing/out/production/processing/data/music/27 Train - Play That Song.mp3
processing/out/production/processing/data/music/28 The Weeknd - Starboy ft. Daft Punk.mp3
processing/out/production/processing/data/music/29 Sage The Gemini - Now and Later.mp3
processing/out/production/processing/data/music/30 The Chainsmokers & Coldplay - Something Just Like This .mp3
processing/out/production/processing/data/music/31 James Arthur - Safe Inside.mp3
processing/out/production/processing/data/music/32 Maroon 5 - Cold ft. Future.mp3
processing/out/production/processing/data/music/33 Machine Gun Kelly - Young Man ft. Chief Keef.mp3
processing/out/production/processing/data/music/34 The Chainsmokers - Closer (ft. Halsey).mp3
processing/out/production/processing/data/music/35 Louis Tomlinson - Just Hold On.mp3
processing/out/production/processing/data/music/36 Little Mix - Shout Out to My Ex.mp3
processing/out/production/processing/data/music/37 Snakehips & MO - Dont Leave.mp3
processing/out/production/processing/data/music/38 Migos - Bad and Boujee ft Lil Uzi Vert.mp3
processing/out/production/processing/data/music/39 Robin Schulz & David Guetta & Cheat Codes - Shed A Light.mp3
processing/out/production/processing/data/music/40 Martin Jensen - Solo Dance .mp3
